.alerts-form-container{
    width: 463px;
    background-color: #efefef;
    font-weight: bold;
    text-align: center;
    padding: 10px 10px;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 37px;
    height: 34px;
  }